/* i really want this to be global */
/*! GitHub: Dracula */ /*
 * Modified from https://github.com/dracula/pygments/blob/master/dracula.css
 * -------------------------------------------------------------------------
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 * http://zenorocha.mit-license.org
 *
 * @author Rob G <wowmotty@gmail.com>
 * @author Chris Bracco <chris@cbracco.me>
 * @author Zeno Rocha <hi@zenorocha.com>
 *
 * Modified from https://github.com/dracula/sublime/blob/master/Dracula.tmTheme
 * ----------------------------------------------------------------------------
 * https://github.com/dracula/sublime
 *
 * Copyright 2013-present, All rights reserved
 *
 * Code licensed under the MIT license
 *
 * @author Zeno Rocha <hi@zenorocha.com>
 */
:root {
  --ghd-code-background: #282a36;
  --ghd-code-color: #f8f8f2;
}
.pl-c, .pl-c span { color: #6272a4 !important; } /* comment */
.pl-c1 { color: #bd93f9 !important; } /* constant */
.pl-cce { color: #ff79c6 !important; } /* constant.character.escape */
.pl-cn { color: #bd93f9 !important; } /* constant.numeric */
.pl-coc { color: #bd93f9 !important; } /* constant.other.color */
.pl-cos { color: #f1fa8c !important; } /* constant.other.symbol */
.pl-e { color: #50fa7b !important; } /* entity */
.pl-ef { color: #50fa7b !important; } /* entity.function */
.pl-en { color: #50fa7b !important; } /* entity.name */
.pl-enc { color: #8be9fd !important; } /* entity.name.class */
.pl-enf { color: #50fa7b !important; } /* entity.name.function */
.pl-enm { color: #50fa7b !important; } /* entity.name.method-name */
.pl-ens { color: #8be9fd !important; } /* entity.name.section */
.pl-ent { color: #ff79c6 !important; } /* entity.name.tag */
.pl-entc { color: #ff79c6 !important; font-style: italic !important; } /* entity.name.type.class */
.pl-enti { color: #8be9fd !important; font-weight: italic !important; } /* entity.name.type.instance */
.pl-entm { color: #8be9fd !important; } /* entity.name.type.module */
.pl-eoa { color: #50fa7b !important; } /* entity.other.attribute-name */
.pl-eoac { color: #50fa7b !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #50fa7b !important; } /* punctuation.definition.entity */
.pl-eoai { color: #50fa7b !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #50fa7b !important; } /* punctuation.definition.entity */
.pl-eoi { color: #8be9fd !important; font-style: italic; } /* entity.other.inherited-class */
.pl-k { color: #ff79c6 !important; } /* keyword */
.pl-ko { color: #ff79c6 !important; } /* keyword.operator */
.pl-kolp { color: #ff79c6 !important; } /* keyword.operator.logical.python */
.pl-kos { color: #8be9fd !important; } /* keyword.other.special-method */
.pl-kou { color: #8be9fd !important; } /* keyword.other.unit */
.pl-mai .pl-sf { color: #8be9fd !important; } /* support.function */
.pl-mb { color: #ffb86c !important; font-weight: bold !important; } /* markup.bold */
.pl-mc { color: #e6db74 !important; } /* markup.changed */
.pl-mh .pl-pdh { color: #8be9fd !important; } /* markup.heading punctuation.definition.heading */
.pl-mi { color: #ffb86c !important; font-style: italic !important; } /* markup.italic */
.pl-ml { color: #ff79c6 !important; } /* markup.list */
.pl-mm { color: #ff79c6 !important; } /* meta.module-reference */
.pl-mp { color: #8be9fd !important; } /* meta.property-name */
.pl-mp1 .pl-sf { color: #8be9fd !important; } /* meta.property-value support.function */
.pl-mq { color: #6272a4 !important; font-style: italic; } /* markup.quote */
.pl-mr { color: #ff79c6 !important; } /* meta.require */
.pl-ms { color: #ff79c6 !important; } /* meta.selector */
.pl-pdb { color: #ffb86c !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc { color: #6272a4 !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1 { color: #bd93f9 !important; } /* punctuation.definition.constant */
.pl-pde { color: #8be9fd !important; } /* punctuation.definition.entity */
.pl-pdi { color: #ffb86c !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds { color: #f8f8f2 !important; } /* punctuation.definition.string */
.pl-pdv { color: #f8f8f2 !important; } /* punctuation.definition.variable */
.pl-pse { color: #ff79c6 !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2 { color: #ff79c6 !important; } /* punctuation.section.embedded source */
.pl-s { color: #f1fa8c !important; } /* storage */
.pl-s1 { color: #f8f8f2 !important; } /* string */
/* .pl-s2 { color: #f8f8f2 !important; } */ /* source */
.pl-mp .pl-s3 { color: #66d9ef !important; font-style: italic !important; } /* support */
.pl-s3 { color: #66d9ef !important; font-style: italic !important; } /* support */
.pl-sc { color: #66d9ef !important; font-style: italic !important; } /* support.class */
.pl-scp { color: #66d9ef !important; font-style: italic !important; } /* support.constant.property-value */
.pl-sf { color: #8be9fd !important; } /* support.function */
.pl-smc { color: #ff79c6 !important; } /* storage.modifier.c */
.pl-smi { color: #f8f8f2 !important; } /* storage.modifier.import */
.pl-smp { color: #ff79c6 !important; } /* storage.modifier.package */
.pl-sok { color: #ff79c6 !important; } /* support.other.keyword */
.pl-sol { color: #effb7b !important; } /* string.other.link */
.pl-som { color: #50fa7b !important; } /* support.other.module */
.pl-sr { color: #f55 !important; } /* string.regexp */
.pl-sra { color: #f55 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-src { color: #f55 !important; } /* string.regexp.character-class */
.pl-sre { color: #f55 !important; } /* string.regexp source.ruby.embedded */
.pl-st { color: #66d9ef !important; font-style: italic !important; } /* support.type */
.pl-stj { color: #f8f8f2 !important; font-style: italic !important; } /* storage.type.java */
.pl-stp { color: #f8f8f2 !important; } /* support.type.property-name */
.pl-sv { color: #f8f8f2 !important; } /* support.variable */
.pl-v { color: #bd93f9 !important; } /* variable */
.pl-vi { color: #ff79c6 !important; } /* variable.interpolation */
.pl-vo { color: #fff !important; } /* variable.other */
.pl-vpf { color: #ffb86c !important; font-style: italic !important; } /* variable.parameter.function */
/* diff - example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1 { color: #50fa7b !important; background: rgba(80, 250, 123, 0.25) !important; } /* markup.inserted */
.pl-mdht { color: #50fa7b !important; background: rgba(80, 250, 123, 0.25) !important; } /* meta.diff.header.to-file */
.pl-md { color: #ff79c6 !important; background: rgba(255, 121, 198, 0.25) !important; } /* markup.deleted */
.pl-mdhf { color: #ff79c6 !important; background: rgba(255, 121, 198, 0.25) !important; } /* meta.diff.header.from-file */
.pl-mdr { color: #6272a4 !important; font-weight: normal !important; } /* meta.diff.range */
.pl-mdh { color: #6272a4 !important; font-weight: normal !important; } /* meta.diff.header */
.pl-mdi { color: #6272a4 !important; font-weight: normal !important; } /* meta.diff.index */
.pl-bu { background-color: #bd93f9 !important; color: #f8f8f2 !important; } /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
.pl-ii .pl-cce, .pl-ii { background-color: #ff79c6 !important; color: #f8f8f2 !important; } /* invalid.illegal, invalid.unimplemented */
.pl-mo { color: #ffb86c !important; } /* meta.output */
.pl-mri { color: #50fa7b !important; } /* markup.raw.inline */
.pl-ms1 { color: #6272a4 !important; } /* meta.separator */
.pl-va { color: #66d9ef !important; } /* variable.assignment */
.pl-vpu { color: #66d9ef !important; } /* variable.parameter.url */
.pl-entl { color: #ffb86c !important; } /* entity.name.tag.label */
.pl-corl, .highlight .pl-corl span.x { color: #effb7b !important; text-decoration: underline !important; } /* links */
.pl-token.active, .pl-token:hover { background: #50fa7b !important; color: #282a36 !important; }
/* i really want this to be global */
