* {
  border-color: #657b83 !important;
}
a {
  color: #268bd2 !important;
}
a:visited {
  color: #6c71c4 !important;
}
body {
  background-color: #002b36 !important;
  color: #839496 !important;
}
html {
  background-color: #002b36 !important;
}
input,
textarea {
  background-color: #073642 !important;
  color: #839496 !important;
}
blockquote,
pre {
  background-color: #073642 !important;
  color: #839496 !important;
}
hr {
  background-color: #094352 !important;
  color: #094352 !important;
}
.bounty-indicator,
.bounty-indicator-tab {
  background-color: #6c71c4 !important;
}
.bottom-notice {
  background-color: #073642 !important;
}
.comments-link {
  color: #859900 !important;
}
.page-numbers {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.page-numbers.current {
  background-color: #cb4b16 !important;
  color: #002b36 !important;
}
.post-menu a {
  color: #6c71c4 !important;
}
.question-status {
  background-color: #073642 !important;
}
.bg-black-050 {
  background-color: transparent !important;
}
.val-info {
  background-color: transparent !important;
  color: #839496 !important;
}
.s-label {
  color: #839496 !important;
}
pre code {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
pre code .atn {
  color: #268bd2 !important;
}
pre code .atv {
  color: #2aa198 !important;
}
pre code .com {
  color: #586e75 !important;
}
pre code .kwd {
  color: #859900 !important;
}
pre code .lit {
  color: #d33682 !important;
}
pre code .pln,
pre code .pun {
  color: #839496 !important;
}
pre code .str {
  color: #2aa198 !important;
}
pre code .tag {
  color: #859900 !important;
}
pre code .typ {
  color: #b58900 !important;
}
#footer {
  background-color: #083c4a !important;
  color: #839496 !important;
}
#footer #footer-sites th {
  color: #93a1a1 !important;
}
.top-footer-links a {
  color: #859900 !important;
}
.so-header {
  background-color: #094352 !important;
  color: #93a1a1 !important;
}
.so-header a {
  color: #859900 !important;
}
.so-header .navigation .-list .-item :hover {
  background-color: #859900 !important;
  color: #fdf6e3 !important;
}
.topbar-dialog {
  background-color: #002b36 !important;
  box-shadow: #586e75 5px 5px 5px;
}
.topbar-dialog .current-site-container {
  background-color: #002b36 !important;
}
.topbar-dialog .header {
  background-color: #073642 !important;
}
.topbar-dialog .header a {
  color: #93a1a1 !important;
}
.topbar-dialog .site-link {
  color: #93a1a1 !important;
}
#header {
  background-color: #094352 !important;
}
#question-header .question-hyperlink {
  color: #93a1a1 !important;
}
#hlogo a {
  filter: opacity(75%);
}
.new-post-activity {
  background-color: #073642 !important;
}
.tagged-interesting {
  background-color: #094352 !important;
}
div.answered-accepted {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
div.answered-accepted .mini-counts {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.answered .mini-counts span {
  color: #859900 !important;
}
.unanswered .mini-counts span {
  color: #839496 !important;
}
#hot-network-questions a {
  color: #2aa198 !important;
}
#hot-network-questions h4 a.js-gps-track {
  color: #93a1a1 !important;
}
#sidebar .community-bulletin .bulletin-item-content a {
  color: #93a1a1 !important;
}
#sidebar .module.community-bulletin {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
#sidebar .question-hyperlink {
  color: #2aa198 !important;
}
.newuser {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.label-key {
  color: #839496 !important;
}
.label-key b {
  color: #93a1a1 !important;
}
#h-chat-link {
  color: #93a1a1 !important;
}
.ad502-room {
  background-color: #073642 !important;
  box-shadow: #586e75 0px 1px 3px;
  color: #93a1a1 !important;
}
#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #002b36, #073642);
  color: #93a1a1 !important;
}
#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #cb4b16, #002b36);
  color: #fdf6e3 !important;
}
.post-tag {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
.post-tag::before {
  background-color: #002b36 !important;
}
a.comment-user.owner {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.post-signature {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.post-signature a {
  color: #2aa198 !important;
}
.post-signature.owner .user-info .user-details a {
  color: #859900 !important;
}
.post-signature span.relativetime {
  color: #93a1a1 !important;
}
.vote {
  background-color: #073642 !important;
}
.vote .star-off {
  filter: opacity(75%);
}
.vote .star-on {
  filter: opacity(50%) !important;
}
.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}
.answer-votes {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
/* i really want this to be global */
